div.gallery {
    margin-right: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 320px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  h3 {
    width: 85%;
  }

  p {
    width: 100%;
  }
h1 {
    color: brown;
    text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  background-color: rgb(183, 245, 240);
  padding: 30px;
  border-radius: 10px;

}
.desc {
  background-color: rgb(4, 73, 64);
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  border: 1px solid #777;
  width : 50%
}